@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css');

$white: #ffffff;
$bodyBgColor: #E9EBEE;
$listGroupItemBgColor: #dddddd;
$listGroupItemHoverBgColor: #dae0e5;

body {
  #map {
    width: 100%;
    height: 550px;
  }
  table {
    background-color: $white;
  }
  .with-scroller {
    max-height: 250px;
    overflow-y: scroll;
  }
}


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;

  .list-group-item {
    cursor: pointer;
  }

  span.bg-light:hover {
    background-color: $listGroupItemHoverBgColor!important;
  }

  .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.1rem;
  }

  .list-group {
    width: 15rem;
  }
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
